body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/Background\ image\ Pokemon.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
 
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 36px 34px rgba(0,0,0,0.11);
-webkit-box-shadow: 1px 2px 36px 34px rgba(0,0,0,0.11);
-moz-box-shadow: 1px 2px 36px 34px rgba(0,0,0,0.11);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.logo img {
    width: 140px;
    margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    margin-bottom: 15px;
}

.connect-with {
    margin: 20px 0;
}

.social-buttons .btn {
    width: 48%;
    margin: 1%;
}

.forgot-password,
.sign-up,
.footer {
    margin-top: 15px;
}

.sign-up a {
    color: #007bff;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}
