body {
    background-color: #40b088;
    margin: 0;
}

#background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffe5cf;
    padding: 20px;
    margin: 20px;
}

.modal-content {
    background-color: #2c2c2c;
    color: #ffffff;
}

.modal-header,
.modal-footer {
    border-color: #444444;
}

.btn-primary {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

#separating-line hr {
    width: 100%;
    border-top: 1px solid #ccc;
}

.signup-options {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.signup-option {
    transition: transform 0.3s ease;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-option:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signup-option img {
    max-height: 40px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

header {
    background-color: rgba(255, 222, 0, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    max-height: 80px;
}

header a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.footer-dark {
    background-color: #202020;
    padding: 20px 0;
    color: #fff;
    border-radius: 10px;
}

.footer-logo {
    max-height: 50px;
}

#poke {
    max-height: 150px;
    width: auto;
    height: auto;
}

.logo {
    max-width: 100px;
    height: auto;
}
