body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.banner {
    background-color: #ffcc00;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    font-size: 28px;
}

.nav-tabs a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-tabs a:hover {
    background-color: #575757;
}

.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product-box {
    background-color: #DAEBE9;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-box h2 {
    margin-top: 10px;
    flex-grow: 1;
}

.product-box button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 12px;
    font-size: 16px;
    width: 50%;
    display: block;
    margin: 12px auto 0; 
}

.product-box button:hover {
    background-color: #e6b800;
}

.large-product-box {
    background-color: #DAEBE9;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-product-box h2 {
    margin-top: 0;
}

.large-product-box .product-box {
    display: inline-block;
    width: 70%;
    margin: 10px;
}

.cta {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.cta a {
    background-color: #ffcc00;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.cta a:hover {
    background-color: #e6b800;
}

.cart {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    margin-bottom: 10px;
}